@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles here */

.hero-pattern {
  background-image: radial-gradient(rgba(79, 70, 229, 0.3) 0.5px, transparent 0.5px);
  background-size: 20px 20px;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 0;
}
